<!DOCTYPE html>
<html>
<head>
    <title>Django Girls Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <h1><a href="/">Django Girls Blog</a></h1>

    {% for post in posts %}
        <div class="post">
            <p>Published: {{ post.published_date }}</p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <hr>
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</div>
</body>
</html>
